/* generales */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif; }

html {
  background-color: #ffffff; }

p {
  text-align: justify; }

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold; }

/* NOSOTROS */
/* modificando estilos de Bootstrap */
.navbar {
  height: 60px;
  padding: 0; }

.navbar-nav {
  margin: auto; }
  .navbar-nav a {
    color: #000000;
    font-size: 2em;
    font-weight: 400;
    padding: 0;
    text-transform: uppercase; }

.nav-item {
  margin: 13px 30px; }

.collapsing {
  background-color: #f1c57ebf; }

.show {
  background-color: #f1c57ebf; }

.navbar > .container-fluid {
  display: initial; }

.navbar-toggler {
  display: inline-flex;
  float: right; }

.container-fluid {
  z-index: 1000;
  display: flex; }

.card {
  height: auto;
  width: 90%;
  top: 5%;
  margin: 40px auto 100px;
  box-shadow: 0px 14px 32px 0px #000000b3; }

.product-img {
  float: left;
  width: 50%;
  height: 700px; }
  .product-img img {
    width: 100%;
    height: 700px;
    border-radius: 2% 0% 0% 2%; }

.product-info {
  float: left;
  height: 700px;
  width: 50%;
  padding-left: 0px; }

.tituloNosotros {
  margin: 0 0 15px 38px;
  padding-top: 20px;
  font-size: xxx-large;
  text-transform: uppercase;
  text-align: center;
  color: #474747; }

.info-text {
  width: 100%;
  color: #8d8d8d;
  line-height: 1.3em;
  font-size: xx-large;
  font-weight: 300;
  margin-bottom: 2em;
  overflow: hidden; }

.slogan {
  font-size: x-large;
  font-weight: 500;
  text-transform: uppercase;
  color: #b1aba0;
  float: left;
  text-align: end;
  letter-spacing: 0.2em; }

/* medias */
@media (min-width: 768px) {
  .col-md-8 {
    width: auto; } }

@media (max-width: 1120px) {
  .navbar-nav a {
    font-size: 1.5em;
    font-weight: 500; } }

@media (max-width: 991px) {
  .card {
    top: 1%; }
  .card-body {
    padding: 30px; }
  .product-img {
    float: unset;
    width: unset; }
  .product-info {
    width: unset;
    height: 600px; } }

@media (max-width: 706px) {
  .card {
    display: contents; }
  .product-img {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto; }
    .product-img img {
      margin: auto;
      margin-top: 20px;
      border-radius: 2% 2% 2% 2%;
      width: inherit;
      height: 100%; }
  .tituloNosotros {
    padding-top: 0px;
    text-align: center;
    margin-right: 15%;
    font-size: xx-large; }
  .info-text {
    font-size: x-large;
    margin-bottom: 1em; }
  .slogan {
    font-size: large;
    line-height: 1em; } }

/* contacto */
form {
  font-size: xx-large; }
  form .btn {
    display: flex;
    width: 30%;
    font-size: xx-large;
    background-color: #4caf50e0;
    justify-content: center;
    margin: auto; }

.contacto {
  font-size: xx-large; }

.mapaContacto {
  height: -webkit-fill-available;
  width: 100%; }

@media (max-width: 1200px) {
  .col-md-9 {
    width: 100%; }
  .col-md-3 {
    width: 40%; } }

/* estilos Blog */
.contenedorBlog {
  display: flex; }

.card-text {
  font-size: 2rem; }

/* contenedor imagen principal */
.contenedor {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
  height: 300px;
  border: 1px solid black;
  background-image: url(../media/log_gallinas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: 25%;
  background-alt: 'imagen principal del sitio LA GALLINA'; }

/* grids principal */
.contenedor_principal {
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
  grid-template-rows: 0.1fr 1.5fr 0.7fr 0.2fr 0.1fr;
  grid-column-gap: 30px;
  grid-template-areas: "nav nav nav nav nav" ". art art art ." ". hPequeno hMediano hGrande ." ". art2 art2 art2 ." "pie pie pie pie pie "; }

.header {
  grid-area: nav; }

.art_principal {
  grid-area: art; }

.hPequeno {
  grid-area: hPequeno; }

.hMediano {
  grid-area: hMediano; }

.hGrande {
  grid-area: hGrande; }

.art2 {
  grid-area: art2; }

.footer {
  grid-area: pie; }

/* barra de navegacion */
nav {
  margin: 1px;
  background: #f9f9f9bf;
  display: flex;
  align-items: center; }

/* titulo principal */
h1 {
  position: relative;
  color: white;
  font-size: 6rem; }

h2 {
  text-align: center;
  margin-top: 3%;
  font-style: normal;
  font-size: 3.5em;
  color: #000000; }

h3 {
  font-size: 3rem;
  font-weight: 300;
  font-style: italic;
  padding-top: 60px;
  padding-bottom: 20px; }

h4 {
  font-size: 2.5rem; }

h5 {
  text-align: justify;
  font-weight: 600;
  font-size: 2rem;
  color: #474747; }

.btn {
  display: flex;
  width: 30%;
  font-size: xx-large;
  background-color: #4caf50e0;
  justify-content: center;
  margin: auto; }
  .btn:hover {
    background-color: #4caf50e0; }
  .btn:first-child:active {
    background-color: #4caf4f76; }

article p {
  font-size: 2.5em; }

section p {
  font-size: 2.5em; }

#img_huevo {
  height: 25%;
  width: 90%;
  display: block;
  margin: 20px auto;
  background-color: #000000; }

/* lista */
.list {
  column-count: 2;
  margin-top: 5%;
  margin-bottom: 3rem; }

.item {
  display: flex;
  align-items: center;
  counter-increment: list;
  padding-bottom: 1rem;
  font-size: 2.5em; }
  .item:before {
    content: counter(list);
    width: 4rem;
    height: 4rem;
    margin: 0 1.5rem 0.75rem 0;
    font-size: 1em;
    color: #fdfdfd;
    background: linear-gradient(to bottom right, #a5bf4e 25%, #283618);
    border-radius: calc(100% / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 3px; }

.hPequeno img,
.hGrande img,
.hMediano img {
  height: 20vh;
  width: auto;
  display: flex;
  margin: auto; }

/* testimonios */
.quote-section {
  width: 70%;
  margin: 0 auto;
  position: relative;
  padding: 20px;
  margin-top: 4%;
  border-radius: 30px;
  background: #b59672e0; }
  .quote-section p {
    font-size: xx-large;
    color: #fff; }
  .quote-section i {
    padding: 0px 15px 0px 15px;
    font-size: xxx-large; }

.autor-section {
  width: 30%;
  margin: 0 auto;
  margin-top: 1%;
  border-radius: 5px;
  background: #00000059;
  padding: 5px; }
  .autor-section p {
    color: #fff;
    font-size: xx-large;
    text-align: center;
    line-height: 1em; }

.botones {
  align-items: center; }
  .botones button {
    background-color: #6c757d75;
    width: 40px;
    height: 50px;
    margin: auto; }
  .botones span {
    background-color: #b59672e0; }

/* estilos footer */
footer {
  height: 5vh;
  line-height: 20px;
  background-color: #b59672;
  color: white;
  text-align: center;
  left: 0;
  bottom: 0px;
  position: fixed;
  width: 100%; }
  footer p {
    text-align: center;
    margin-top: 2vh;
    font-size: 2em; }

/* estilos redes  */
.redes {
  display: block;
  position: fixed;
  right: 1%;
  bottom: 30%; }
  .redes ul {
    list-style-type: none; }
    .redes ul li {
      margin: 5px;
      background: rgba(0, 0, 0, 0.18);
      border-radius: calc(100% / 2); }
      .redes ul li img {
        padding: 10%;
        border-radius: calc(100% / 2);
        width: 9vw;
        background: #ffffff; }
      .redes ul li:hover {
        background: rgba(0, 0, 0, 0.18);
        transform: rotate(360deg);
        transition: all 1s; }

/* media INDEX */
@media (min-width: 768px) {
  .redes ul li img {
    width: 4vw; } }

@media (max-width: 1400px) {
  .contenedor_principal {
    grid-template-columns: 0.4fr 1fr 1fr 1fr 0.4fr;
    grid-template-rows: 0.07fr 1.5fr 0.4fr 0.4fr 0.4fr 0.1fr 0.1fr;
    grid-template-areas: "nav nav nav nav nav" ". art art art ." ". hPequeno hPequeno hPequeno ." ". hMediano hMediano hMediano." ". hGrande hGrande hGrande ." ". art2 art2 art2 ." "pie pie pie pie pie "; }
  .hPequeno,
  .hGrande,
  .hMediano {
    display: inherit; }
  .hPequeno img,
  .hGrande img,
  .hMediano img {
    height: 30vh; }
  .list {
    column-count: unset; } }
