/* generales */
html {
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100%;
  position: relative;
  background-color: #ffffff;
}
p{
  text-align: justify;
}
a{
  text-decoration: none;
}
body{
  display: contents;
}
/* contenedor imagen principal */
.contenedor {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
  height: 210px;
  border: 1px solid black;
  background-image: url(/media/log_gallinas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: 25%;
}
/* titulo principal */
#titulo {
  position: relative;
  color: white;
  font-size: 4rem;
}
/* barra de navegacion */
nav {
  margin: 1px;
  background: #f9f9f9bf;
  display: flex;
}
.menuItems {
  list-style: none;
  display: flex;
  margin: auto;
  text-align: center;
}
.menuItems li {
  margin: 13px 30px;
}
.menuItems a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  position: relative;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
}
/* articulo principal */
h2 {
  text-align: center;
  font-style: normal;
  font-size: xx-large;
  color: #000000;
}
#img_huevo {
  display: block;
  margin: auto;
}
.content {
  width: 100%;
  display: flex;
}

.left {
  display: inline-block;
  float: left;
  position: relative;
  width: 45%;
  height: auto;
}

.right {
  display: inline-block;
  position: relative;
  float: left;
  width: 45%;
  height: auto;
  margin-left: 5px;
}
iframe {
  height: -webkit-fill-available;
  width: auto;
}

/* estilos lista */




/* estilos Blog */
.contenedor_productos {
  width: 90%;
  height: 100px;
  margin: 20px auto;
  background-color: #c9cda9;
  color: #fff;
  padding: 20px;
}
div.contenedor_productos img.izquierda {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}
div.contenedor_productos img.derecha {
  float: right;
  margin-left: 15px;
}
.contenedor_productos img {
  width: 150px;
  height: 100px;
}



/* estilos nosotros */
.parallax {
  background-image: url("../media/granja.jpg");
  height: 100%;
  width: 90%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 40px;
}
.parallax p {
  font-size: 2rem;
  text-align: justify;
  background-color: #ffffff14;
  text-transform: capitalize;
  padding: 10px;
}

/* estilos footer */
footer {
  height: 50px;
  line-height: 20px;
  background-color: #b59672;
  color: white;
  text-align: center;
  left: 0;
  bottom: 0px;
  position: fixed;
  width: 100%;
}
footer p{
  text-align: center;
}

/* estilos redes  */
.redes {
  display: block;
  position: fixed;
  right: 0;
  bottom: 30%;
}
.redes ul{
  list-style-type: none;
}
.redes ul li {
  margin: 5px;
  background: rgba(0, 0, 0, 0.18);
  border-radius: 50%;
}
.redes ul li img {
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  background: #ffffff;
}
.redes ul li img:hover  {
  background: rgba(0, 0, 0, 0.18);
  transform: rotate(360deg);
  transition: all 1s;
}

/* grids principal */
.contenedor_principal{
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr ;
  grid-template-rows:  0.2fr 1.5fr 0.7fr 0.5fr 0.1fr ;
  grid-column-gap: 20px;
  grid-template-areas:
  "nav nav nav nav nav"
  ". art art art ."
  ". corral piso libre ."
  ". art2 art2 art2 ."
  "pie pie pie pie pie ";
}
.header{
  grid-area: nav;
}
.art_principal{
  grid-area: art;
}
.corral{
  grid-area: corral;
}
.piso{
  grid-area: piso;
}
.aire{
  grid-area: libre;
}
.art2{
  grid-area: art2;
}
.footer{
  grid-area: pie;
}


