.list {
    column-count: 2;
}

.item {
    display: flex;
    align-items: baseline;
    counter-increment: list;
    padding-bottom: 1rem;
    font-size: 1.1rem;
}

.item:before {
    content: counter(list);
    width: 4rem;
    height: 4rem;
    margin: 0 1.5rem 0.75rem 0;
    color: #fdfdfd;
    background:linear-gradient(to bottom right, #a5bf4e 25%, #283618);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 3px;
}