/* contacto */
$texto: 1.5rem;
  form{
    font-size: $texto + .5;
    .btn{
      display: flex;
      width: 30%;
      font-size:  $texto + .5;
      background-color: #4caf50e0;
      justify-content: center;
      margin: auto
    }
  }
  .contacto{
    font-size: $texto + .5;
  }
  .mapaContacto {
    height: -webkit-fill-available;
    width: 100%;
  }
  @media (max-width: 1200px) {
    .col-md-9 {
      width: 100%;
  }
    .col-md-3 {
      width: 40%;
      margin: auto;
  }
  }