/* NOSOTROS */
/* modificando estilos de Bootstrap */
$alto:700px;

.navbar {
  height: 60px;
  padding: 0;
}
.navbar-nav {
  margin: auto;
  a {
    color: #000000;
    font-size: 2em;
    font-weight: 400;
    padding: 0;
    text-transform: uppercase;
  }
}
.nav-item {
  margin: 13px 30px;
}
.collapsing {
  background-color: #f1c57ebf;
}
.show {
  background-color: #f1c57ebf;
}
.navbar > .container-fluid {
  display: initial;
}
.navbar-toggler {
  display: inline-flex;
  float: right;
}
.container-fluid {
  z-index: 1000;
  display: flex;
}
.card {
  height: auto;
  width: 90%;
  top: 5%;
  margin: 40px auto 100px;
  box-shadow: 0px 14px 32px 0px #000000b3;
}
.product-img {
  float: left;
  width: 50%;
  height: $alto;
  img {
    width: 100%;
    height: $alto;
    border-radius: 2% 0% 0% 2%;
  }
}
.product-info {
  float: left;
  height: $alto;
  width: 50%;
  padding-left: 0px;
}
.tituloNosotros {
  margin: 0 0 15px 38px;
  padding-top: 20px;
  font-size: xxx-large;
  text-transform: uppercase;
  text-align: center;
  color: #474747;
}
.info-text {
  width: 100%;
  color: #8d8d8d;
  line-height: 1.3em;
  font-size: xx-large;
  font-weight: 300;
  margin-bottom: 2em;
  overflow: hidden;
}
.slogan {
  font-size: x-large;
  font-weight: 500;
  text-transform: uppercase;
  color: #b1aba0;
  float: left;
  text-align: end;
  letter-spacing: 0.2em;
}
/* medias */
@media (min-width: 768px) {
  .col-md-8 {
    width: auto;
  }
}
@media (max-width: 1120px) {
  .navbar-nav {
    a {
      font-size: 1.5em;
      font-weight: 500;
    }
  }
}

@media (max-width: 991px) {
  .card {
    top: 1%;
  }
  .card-body {
    padding: 30px;
}
  .product-img {
    float: unset;
    width: unset;
  }
  .product-info {
    width: unset;
    height: 600px;
  }
}

@media (max-width: 706px) {
  .card {
    display: contents;
  }
  .product-img {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    img {
      margin: auto;
      margin-top: 20px;
      border-radius: 2% 2% 2% 2%;
      width: inherit;
      height: 100%;
    }
  }
  .tituloNosotros {
    padding-top: 0px;
    text-align: center;
    margin-right: 15%;
    font-size: xx-large;
  }
  .info-text {
    font-size: x-large;
    margin-bottom: 1em;
  }
  .slogan {
    font-size: large;
    line-height: 1em;
  }
}
